<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editare client</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="Blocks/header :: header"></header>
<div class="container mt-5 mb-5" >
    <h1>Editare client</h1>
    <div th:each="el : ${clienti}">
        <form method="post">
            <input type="text" th:value="${el.Nume_client}" name="Nume_client" placeholder="Nume client" class="form-control"><br>
            <input type="text" th:value="${el.Telefon_client}" name="Telefon_client" placeholder="Telefon client" class="form-control"><br>
            <button type="submit" class="btn btn-success">Actualizeaza</button>
        </form>
    </div>
</div>
<div th:insert="Blocks/footer :: footer"></div>
</body>
<style type="text/css">
    body{
        margin: 10px;
    }
</style>
</html>