html{width:1300px;
	padding: 10px;
	margin:0 auto;
}
body{
	overflow:auto;
	background-size:cover;
	display:block;
	
	height:100%;
	margin:auto;
}
header{	
	height: 110px;
	text-align: center;
	vertical-align: middle;
}

header img{
	height: 90%;
}
main section img{
	width: 400px;
	height: 306px;
	max-width: 90%;
	max-height: 90%
}
main section , 
main div{
	vertical-align: middle;
	align-items: block;
   
}
body main {
	background: rgba(255, 255, 255, 0.7);
	padding: 5px;
	margin: 5px;
	vertical-align: middle;

}
main{
	background: #FFFFFF;
	width: 880px;
	border: 1px solid black;
	border-radius: 10px;
	float:right;
}

aside{
	background: yellow;
	color: black;
	width: 367px;
	position: absolute;
	display: block;
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;
	margin: 5px;
	
}
#contact1,#contact2,#contact3,#contact4{
	width: 40px;
	height: 40px;
	vertical-align: middle;
}

aside, main{
	display:inline-block;
	background: rgba(255, 255, 255, 0.7);

}

footer
{
	height:40px;	
	float: left;
	margin: auto;
	padding: 10px;	
	color: gold;
	font-weight:bold;
	text-align:center;
	background-color: rgba(57, 79, 79 ,0.7);
	width:1280px;
	border-radius:30px;
	border:1px black solid;
    bottom: 5px;
    position: fixed;
}
#harta,#forma{
	display: inline-block;
	vertical-align: top;
}

.tableFixHead { 
    overflow: auto;
     height: 350px; 

}
aside .tableFixHead { 
    overflow: auto;
     height: 230px; 

}
.tableFixHead thead th { 
    position: sticky; 
    top: 0; z-index: 1; 

}
table  { 
    border-collapse: collapse;
    width: 100%; 

}
th, td {
    padding: 8px 16px; 

}
th     { 
    background:#ffffff; 

}
td     {
    text-align: center;

}
.tcentr .tableFixHead {
    display: inherit;
    justify-content: center;
    width: auto;
    height: 350px;
    position: relative;
    background: rgba(255, 255, 255, 0.7);
	border: 1px solid black;
	border-radius: 10px;
    padding: 5px;
}
h3 { 
  display: block;
  font-size: 1.07em;
  margin-top: 0.2em;
  margin-bottom: 0.1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h2{
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h1 {
  text-align: center;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
color: black;
text-shadow: #FFFFFF 0px 0px 2px,   #FFFFFF 0px 0px 2px,   #FFFFFF 0px 0px 2px,
             #FFFFFF 0px 0px 2px,   #FFFFFF 0px 0px 2px,   #FFFFFF 0px 0px 2px;
}
input[type="submit"]:hover{
    border: 1px solid black;
    background:#fde579;
    border-radius:2px;
    margin-top: 2px;

}
input[type="submit"]{
    border: 1px solid transparent;
    background:#f5ca0c;
    border-radius:2px;
    margin-top: 2px;

}
