nav{
	
	height: 58px;
	border:1px white solid;	
	border-radius:10px;
	background: rgba(57, 79, 79 ,0.5);
}

nav ul{
	margin: 5px;
	padding: 5px;
	list-style: none;
	line-height: normal;
}

nav ul li{
    border:0.5px solid white;
    margin: 0 auto;
	padding: 3px;
	border-radius: 5px;
	width: 243px;
	display: inline-block;
    text-align: center;

}

nav ul li a{

	text-decoration: none;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: normal;
	color: yellow;
}
 nav ul li span{
	font-weight: bold;
	text-decoration: none;
	font-size: 25px;
	border:1px solid white;
	display: block;
 	
}
nav ul li:hover{
	background: #5C77C4;

}
nav ul li a:hover{
    color: black ;
	
}

nav ul li .active{
	background: rgba(255, 255, 255, 0.5);
	color: black ;
}
nav img{
    width: 28px;
    height: 28px;
vertical-align: top;
}

